#c4_name_form
{
    width:30%;
    height:300px;
    margin-top:6px;
    float:left;
}

#c4_form_preview
{
    width:30%;
    min-height:300px;
    height:300px;
    float:left;
    text-align:center;
    overflow: hidden;
}

#c4_form_preview_title
{
    /*border:1px solid black;*/
    /*margin:auto;*/
    background-color:lightgrey;
}

#c4_form_preview_name
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:red;
}

#c4_form_preview_email
{
    font-family: 'Times New Roman', Times, serif;
    color:blue;
}

#c4_form_preview_email:hover
{
    text-decoration: underline;
}

#form_response_frame
{
    width:30%;
    height:300px;
    float:left;
}

.tab
{
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
    position:sticky;
    top:0;			
}

.tab button
{
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button.active
{
    background-color: #ccc;
}

.tab button:hover
{
    background-color: #ddd;
}

.tabcontent
{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

div.centre
{
    text-align: center;
}

div.centre *
{
    /*width: 500px;*/
    display: inline-block;
}

div.frame
{
    border:1px #666 solid;
    /*padding: 6px 12px;*/
    overflow:hidden;
}

p.highlight:hover
{
    background-color:yellow;
}

.article-image
{
    display:block;
    margin: 0 auto;
    width:200px;
    padding: 6px 12px;
}

/*p.article-content
{
    width:600px;
}*/


div.summary
{
    border:1px #666 solid;
    float:right;
    width:300px;
    padding: 6px 12px;
    margin-right:50px;
    margin-left:50px;
}

img.fly
{
    position:fixed;
    bottom:200px;
    left:300px;
    width: 50px;
}

.nb
{
    border:none;
}

.np
{
    padding:none;
}

#c5-python-editor
{
    width:300px;
    height:300px;
    float:left;
    border: 1px solid red;
}

#c5-python-input
{
    width: 80%;
    height: 80%;
    display: block;
    margin: 10% auto;
    overflow: hidden;
}

#c5-python-results
{
    width:300px;
    height:300px;
    float:left;
    border: 1px solid blue;
}

#c5-python-form
{
    background-color:green;
    display:block;
    position:fixed;
    left:0px;
    top:500px;
}

#cta-button
{
    padding: 12px 24px;
    background-color: blue;
    border: 2px solid white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
}